*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/* main page */
.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.App #open{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: yellowgreen;
    color: black;
    cursor: pointer;
}
/* modal css */
.modal-container{
    background-color: rgb(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    justify-items: left;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    
}

.modal{
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 700px;
    height: 300px;
    max-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
}
#close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
}
/* form container */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .forminput{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 0px;
    padding: 5px 10px;
    border: none;
}

#signupbutton{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
}

.container .formimage{
    width: 30%;
    border-radius: 10px;
    margin-left: 20px;
}
.show{
    visibility: visible;
}
.bold{
    font-weight: 1000;
}
.sz{
    font-size: 10px;
}

@media (min-width:100px) and (max-width:500px) {
    img {
        display: none;
        margin: 0 auto;
    }
    p{
        font-size: 75%;
    }
    label{
        font-size: 70%;
    }
}

